html{
    background-color: aquamarine;
}

#sidebar{
    height:4000px;
    width:200px;
    position:absolute;
    background-color: blueviolet;
}


.home{
    width:150px;
    height:100px;
    position:fixed;
    right:0;
    top:0;
    background-color: grey;
    color:purple;
    font-size: 36px;
    
}

.desc{
    padding:3px;
    margin-left:3.5cm;
    margin-top:1.5cm;
    font-family:'Times New Roman', Times, serif;
    font-size:28px;
    position:absolute;
    right:40%;
}

.head{
    position:sticky;
    margin-left:2cm;
    font-size:36px;
    padding-left:350px;
}

div.sec1{
    position:relative;
    width:100%;
    height:650px;
}

#many{
    position:absolute;
    bottom:0px;
    left:400px;
    margin-bottom:100px;
}

div.sec2{
    position:relative;
    width:100%;
    height:850px;
}

div.sec21{
    height:460px;
    position:relative;
    margin-top:250px;
    background-color:darkslategray;
    width:500px;
    margin-left:500px;
}

#safe{
    height:300px;
    width:500px;
    position:relative;
    top:0;
}

#desc2{
    position:relative;
    top:0;
    width:500px;
    color:white;
    font-size:28px;
    margin-left:10px;

}


#lis1{
    margin-top:1cm;
    width:500px;
    height:150px;
    background-color: darkblue;
    border:4px solid pink;
    color:orange;
    line-height: 25px;
    position:absolute;
    left:350px;
}

div.sec3{
    position:relative;
    width:1000px;
    height:500px;
}

.desc3{
    background-color:cadetblue;
    font-size:24px;
    position:absolute;
    left:250px;
    width:410px;
    top:100px;
    padding:10px;
}

.desc31{
    background-color:cadetblue;
    font-size:24px;
    position:absolute;
    left:800px;
    width:410px;
    top:100px;
    padding:10px;
}

.head3{
    position:absolute;
    left:250px;
    width:400px;
    text-decoration: underline;
}

.head31{
    position:absolute;
    left:800px;
    width:400px;
    text-decoration: underline;
    top:40px;
}

.sec4{
    position:relative;
    height:350px;
}

.head4{
    position:absolute;
    left:550px;
}

.desc4{
    position:absolute;
    left:400px;
    font-size: 24px;
    background-color: olivedrab;
    color:white;
    top:100px;
    width:600px;
}


.sec5{
    position:relative;
    height:600px;
}

.head5{
    position:absolute;
    left:400px;
    font-size:36px;

}

.desc5{
    position:absolute;
    width:600px;
    height:190px;
    left:400px;
    top:100px;
    font-size: 28px;
    background-color:rgba(148, 105, 26, 0.925);
    padding-bottom:10px;
    padding-top:10px;
    padding-right:10px;
}

#aer{
    position:absolute;
    left:500px;
    bottom:0px;
}

.sec6{
    position:relative;
    left:400px;
    height:400px;
}

#contain{
    font-size:28px;
    font-weight:400;
}

.head6{
    font-size: 36px;
    padding-left:200px;
}

.desc6{
    font-size: 24px;
    background-color:dimgrey;
    color:magenta;
    width:500px;
}

.sec7{
    position:relative;
    height:400px;
    left:400px;
}

.head7{
    left:200px;
    font-size: 28px;

}

.desc7{
    width:500px;
    left:100px;
    background-color: burlywood;
    font-size: 24px;
    color:forestgreen;
}

.sec8{
    position:relative;
    left:400px;
    height:650px;
}

.head8{
    
}


