html{
    font-family:'Times New Roman', Times, serif;
    background-color: aquamarine;
    font-size: 12;
}

h1{
    padding: 2cm;
    margin: 3cm;
    font-size: 18;
}

li{
    line-height: 1.5cm;
}

#name{
    margin:auto;
}

.centered{
    margin: 0 auto;
    padding-left: 6cm;
}

#description{
 font-style: italic;
 font-size: medium;
 font: #4906e7;
}

div{
    border: 10px solid transparent;
    padding: 15px;
    border-image: url(border.png) round;
    border-image-slice: 40%;
}