html{
    font-family:'Times New Roman', Times, serif;
    background-color: aquamarine;
    font-size: 12;
}

h1{
    padding: 2cm;
    margin: 3cm;
    font-size: 18;
}

li{
    line-height: 1.5cm;
}

#name{
    left:0;
}

.centered{
    margin: 0 auto;
    padding-left: 6cm;
}

#picture{
    margin:3cm;
    padding:50px;
}

#description{
    position:fixed;
    left:500px;
    bottom:10px;
    font-style: italic;
    font-size: medium;
    font:#4906e7;
    margin: 5px 10px 20px 15px;
}

div.list{
    position:relative;
    left:0;
    right:0;
    bottom:0;
    border: 2px solid transparent;
    border-color: blueviolet;
    border-image: url(border.png) round;
    border-image-slice: 40%;
}

#pogging{
    position:absolute;
    left:400px;
    bottom: 0;
}
/*
https://www.w3schools.com/cssref/css3_pr_box-shadow.asp
https://www.w3schools.com/cssref/tryit.asp?filename=trycss_position2


*/