html{
    font-family:'Times New Roman', Times, serif;
    background-color: aquamarine;
    font-size: 12;
}

h1{
    font-size: 18;
}

li{
    line-height: 1.5cm;
}

#name{
    left:0;
}

.centered{
    /*margin: 0 auto;*/
    padding-left: 10cm;
}

#picture{
    margin:3cm;
}

#description{
    position:relative;
    left:500px;
    bottom:10px;
    font-style: italic;
    font-size: medium;
    color:#4906e7;
    margin: 5px 10px 20px 15px;
    font-size: 20;
}

div.list{
    position:relative;
    left:0;
    bottom:0;
    border: 2px solid transparent;
    border-color: blueviolet;
    border-image: url(border.png) round;
    border-image-slice: 40%;
    width: 500px;
}

.pogging{
    position:fixed;
    width:fit-content;
    height:fit-content;
    right:0;
    bottom:0px;
}

#pogtext{
    background-color: honeydew;
    padding:5px;
    width:200px;
    height:50px;
    border:solid blue;
}

div.page2.list2{
    border-width: 2px;
    border:solid pink;
    width:300px;
    background-color: darkgreen;
    color:white;
    font-family:Arial, Helvetica, sans-serif;
}

div.page2{
    background-color: darkslateblue;
}

span.def{
            text-decoration: double;
}

/*
https://www.w3schools.com/cssref/css3_pr_box-shadow.asp
https://www.w3schools.com/cssref/tryit.asp?filename=trycss_position2


*/