html{
    font-family:'Times New Roman', Times, serif;
    background-color: aquamarine;
    font-size: 12;
}

h1{
    padding: 2cm;
    margin: 3cm;
    font-size: 18;
}

li{
    line-height: 1.5cm;
}

#name{
    margin:auto;
}

.centered{
    margin: 0 auto;
    padding-left: 6cm;
}

#description{
 font-style: italic;
 font-size: medium;
 font: #4906e7;
 margin: 5px 10px 20px 15px;
}

div{
    border: 10px solid transparent;
    /*padding: 15px;*/
    border-image: url(border.png) round;
    border-image-slice: 40%;
}

#pogging{
    position: fixed;
    border: 1px solid blue;  
    bottom: 0;
    right: 0;
    /*
    position:absolute;
    left:200px;
    */
}